*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.head{
    background-image: url("https://images.pexels.com/photos/416537/pexels-photo-416537.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head>.form{
    height: 70%;
    width: 450px;
    background-color: rgba(0,0 , 0, .5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 3px solid rgb(23, 97, 40);
    border-radius: 15px;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(22, 93, 35);
}
.head>.form>h1{
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(255, 39, 10);
}
.head>.form>form{
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.head>.form>form>input{
    height: 50px;
    width: 220px;
    margin-left: 89px;
    margin-top: 10px;
    outline: none;
    font-size: 17px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid gold;
    color: rgb(118, 202, 179);
}
.head>.form>form>input::placeholder{
   text-align: center;
}
.head>.form>form>select{
    height: 40px;
    width: 120px;
    margin-left: 145px;
    margin-top: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: rgb(54, 83, 55);
    background-color:  rgb(209, 195, 195);
}
.head>.form>form>select:hover{
    cursor:pointer;
}
.head>.form>form>button{
    height: 45px;
    width: 150px;
    margin-left: 130px;
    margin-top: 15px;
    margin-bottom: -30px;
    background-color: rgb(54, 83, 55);
    border: none;
    border-radius: 5px;
    color: rgb(209, 195, 195);
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.head>.form>form>button:hover{
    cursor: pointer;
}
.head>.form>form>#btn{
    height: 45px;
    width: 100%;
    margin-left: -0px;
    margin-top: 60px;
    /* margin-bottom: 80px; */
    border-radius: 100% 100% 25px 25px;
    color: rgb(54, 83, 55);
    background-color: rgb(205, 198, 198);
}
.head>.form>form>#btn:hover{
    cursor: pointer;
}